/* p {
  color: blue;
}

h1 {
  color: blue;
} */

:root {
  --color-main-blue: #3939e0;
}

html {
  /* font-size: 10px */
  /* 16px -> 1rem */
  /* 10px -> 1rem */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background-color: beige;
}

h1 {
  /* color: blue; */
  color: var(--color-main-blue);
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

/* #blog-1 {
  color: crimson;
} */

.blog {
  color: var(--color-main-blue);
  font-size: 2rem;
  text-align: justify;
  /*background-color: khaki;
  */ /*Creerundegrade:;
  https:;
  //developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient*/ /*background: linear-gradient(90deg, blue, green);
  */
  border: 2px solid black;
  /*width: 50%;
  */
  width: 55rem;
  /*toprightbottomleft:;
  Autiliserquandonadesvaleursdifferentes*/
  padding: 4rem 2rem 5rem 6rem;
  /*Memevaleurpartout*/
  padding: 3rem;
  /*top-bottomgauche-droite*/
  padding: 4rem 2.5rem;
  line-height: 3.2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.blog:hover {
  background-color: burlywood;
}

.italic-underline {
  font-style: italic;
  text-decoration: underline;
  font-weight: 600;
  color: #5f9ea0;
}

.subjects {
  background-image: url("https://i.pinimg.com/736x/09/d5/77/09d577352d4cc0259ff595a5a705bdc2.jpg");
  color: whitesmoke;
}

nav {
  margin-bottom: 2rem;
}
