:root {
  --color-light-gray: #c8c8c8;
  --color-black: #333333;
  --color-red: #cf0000;
  --color-white: #d3d3d3;
  --color-white-table: #dddddd;
  --color-dark-gray: #999999;
  --color-indigo: #4f41ae;
  --color-mid-gray: #b7b7b7;
}

html {
  font-size: 62.5%;
}

h1 {
  text-align: center;
}
body {
  background-color: var(--color-light-gray);
  font-size: 2rem;
  padding: 10rem;
  font-family: "Open Sans", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-black);
}

.www-link {
  color: var(--color-red) !important;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: var(--color-black);
  color: var(--color-white);
}

tbody > tr:nth-of-type(2n + 3) {
  background-color: var(--color-white-table);
}

tbody tr:hover {
  background-color: var(--color-dark-gray);
  cursor: pointer;
}

figure {
  border: 2px solid var(--color-red);
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  height: 90rem;
  padding: 4rem;
  overflow: hidden;
  margin-left: 0;
}

figure img {
  height: 90%;
  width: 100%;
}
.tcpip {
  color: var(--color-red);
}

.ncp2 {
  border: 2px dashed var(--color-indigo);
  color: var(--color-indigo);
  padding: 4rem;
  background-color: var(--color-mid-gray);
  width: 95rem;
  margin: 0 auto;
}
